/*******BODY ON ALL PAGES**********************************
***********************************************************/


body { background: #fafafa !important; }

/*******NAV BAR********************************************
***********************************************************/
.nav.navbar-nav.navbar-right li a {
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    background-color: transparent;
}

.nav.navbar-nav.navbar-right li a:hover {
    color: #0077b5;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    background-color: transparent;
}


/*******HEADER********************************************
***********************************************************/

// video#bgvid { 
//    position: relative;
//    width: 560px;
//    height: 360px;
//    width: auto;
//    height: auto;
//    z-index: -100;
//    -ms-transform: translateX(-50%) translateY(-50%);
//    -moz-transform: translateX(-50%) translateY(-50%);
//    -webkit-transform: translateX(-50%) translateY(-50%);
//    transform: translateX(-50%) translateY(-50%); 
// }

section.home_header {
  position: relative;
  z-index: -1;
  margin-top: -72px;
}

h1{
  font-family: 'Roboto', sans-serif;
  text: 100px;
  color: #f5f5f5;
}


div.centered {
  margin-top: -100px; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

h1,h3,h4 {
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 100px;
  text-shadow: 3px 3px 30px rgba(0, 0, 0, 1);
}

h3 {
  font-size: 30px;
  color: #f2f2f2;
  font-weight: 400;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

h4 {
  font-size: 30px;
  color: #2d3538;
  font-weight: 400;
  margin-bottom: 30px;
}

.normal-heading {
  font-size: 30px;
  color: #f2f2f2;
  font-weight: 400;
}

.css-typing {
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

.header-video{
  background: red;
}


/*******MAIN TUTORIALS PAGE*******************************
*********************************************************/

.top-bar{
  background-color: #e9a820;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: #e9a820;
  height: 58px;
}

.thumbnail{
  position: relative;
  padding: 0px;
  border-radius: 5px 5px 4px 4px;
  border: 0px solid;
  box-shadow: 0 2px 0 rgba(0,0,0,0.06);
  background: #fff;
  height: 310px;
  margin-top: 70px;
}


.second-header{
  background-color: black;
  font-size: 1.5em;
  text-align: center;
  color: #fafafa;
  height: 300px;
  margin-top: -100px;

}

/*******MAIN CATEGORIES ON HOMEPAGE*************************
***********************************************************/

.category-images{
  width: 40%;
  height: 100px;
  padding-top: 40px;
}

.category-titles{
  margin-top: 115px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 30px;

}

/*******MAILCHIMP SIGN UP ON HOMEPAGE****************************
****************************************************************/

.mail-chimp-container{
  margin-top: -10px;
  padding-top: 50px;
  padding-bottom: 15px; 
  font-family: 'Roboto', sans-serif;
  font-color: #fafafa;
  background-color: black;
  height: 180px;
  text-align: center;
  margin-bottom: 100px;
}

.mail-chimp-container p {
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
  font-size: 25px;
  text-align: center;
}

video {
  width: 100%;
  height: auto;
}

.surveymonkey-form{
  align: right;
  font-size: 20px;
  margin: 5px;
  padding: 2px 2px 2px 10px;

}

.surveymonkey-button {
  background-color: #e01563;
  border: 1px solid #e01563;
  font-size: 20px;
  margin: 5px;
  padding: 2px 2px 2px 10px;
  width: 150px;
  height: 36px; 
}

/*******************FOOTER***************************************
*****************************************************************/

footer {
  background-color: black;
  margin-top: 250px;
  font-size: 1.5em;
  text-align: center;
  padding-top: 50px;
  color: #ccc;
  height: 200px;
}

footer {
  clear:both;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



.containter {
  margin-top: 20px;
}




