<h2>All Tutorials</h2>
<ul class="media-list">
  <% @tutorials.each do |tutorial| %>
    <li class="media">
      <div class="media-body">
        <a href="/tutorials/<%= tutorial.id %>">
          <h4 class="media-heading"><%= tutorial.title %></h4>
        </a>
        <%= tutorial.author %>
      </div>
    </li>
  <% end %>
</ul>