  <div class="header-video">
    <div class="centered">
      <h1><i class="fa fa-code"></i><br> Learn Code</h1>
      <h3 class="css-typing">A curated list of coding and design resources for people who are helping change the world through code.</h3>
    </div>
    <video autoplay loop poster="/images/hands.jpg" id="bgvid">
   <source src="/videos/hands-typing.webm" type="video/webm">
   <source src="/videos/hands-typing.mp4" type="video/mp4">
    </video>
  </div>
<div>
<div class="container">
<div class="row">
  <% @categories.each do |category| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
      <img src="http://lorempixel.com/600/400/animals/<%= category.id %>">
        <a href="/categories/<%= category.id %>">
          <h4 class="media-heading"><%= category.title %></h4>
        </a>
        <img src="<%= category.icon %>">  
      </div>
    </div>
  <% end %>
</div>
</div>
</div>
