<h2>All Categories</h2>
<video autoplay loop poster="/images/hands.jpg" id="bgvid">
   <source src="/videos/v-hands.webm" type="video/webm">
   <source src="/videos/v-hands.mp4" type="video/mp4">
</video>

<ul class="media-list">
  <% @categories.each do |category| %>
    <li class="media">
      <div class="media-body">
        <a href="/categories/<%= category.id %>">
          <h4 class="media-heading"><%= category.title %></h4>
        </a>
        <%= category.icon %>
      </div>
    </li>
  <% end %>
</ul>