<ul class="media-list">
  <% @categories.each do |category| %>
    <li class="media">
      <div class="media-body">
        <a href="/categories/<%= tutorial.icon %>">
          <h4 class="media-heading"><%= tutorial.icon %></h4>
        </a>
        <%= category.title %>
        <%= @category.icon %>

      </div>
    </li>
  <% end %>
</ul>
