<!DOCTYPE html>
<html>
<head>
  <title>Coding Resources</title>
    <%= css :application %>
    <%= js :application %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/users/new">Register</a></li>
        <li><a href="/tutorials">Tutorials</a></li>
        <li><a href="/tutorials/new">Add a Tutorial</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
   <%= yield %> 
  </main>
</body>
</html>



